.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 49% 25% 25%;
    grid-template-areas: 
    'header header header'
    'boks-b boks-b boks-b'
    'boks-d boks-d boks-c'
    'footer footer footer';
    background-color: var(--color-bg);
    text-align: center;
}

.boks-b {
    grid-area: boks-b;
    display: flex;
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url(/images/Jarle\ Langeland\ 300\ dpi@\ fotograf\ Siv\ Sivertsen-221.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

 .boks-b h1 {
     font-size:4.5rem;
     color: var(--color-ascent);
 }

.boks-c,
.boks-d {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center;
    text-align: left;
    
}

.boks-c {
    padding-top: 20px;
    grid-area: boks-c;
    background-color: lightblue;
    color:var(--color-links);
    text-align: left;
    padding-left: 10px;
    letter-spacing: 2px;
    border: 2px solid rgb(200, 193, 193);
    font-weight: bold;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.boks-c h2{
    font-size: 20px;
}

.boks-d {
    padding-top: 20px;
    grid-area: boks-d;
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 2px;
    line-height: 25px;
    border: 2px solid rgb(200, 193, 193);
    background-color:  whitesmoke;;
}

