.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    /*grid-template-columns: 50% 50%;*/
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    'header header'
    'boks-b boks-c'
    'boks-d boks-d'
    'footer footer';
    background-color: var(--color-bg);
    text-align: center;
}

.velg-kurs{
    display: flex;
    padding: 5px;
    margin: 7px;
    align-items: left;
}

.boks-b {
    grid-area: boks-b;
    background-image: url(../images/Jarleyoga.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.boks-d form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.boks-d form input {
    max-width: 200px;
    margin-bottom: 5px;
}

.boks-d form input[type=submit] {
    background-color: var(--color-coffee);
    border: none;
    color: var(--color-ascent);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(55, 82, 110);
}

.boks-c,
.boks-d {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    justify-content: center;

}

.boks-c {
    grid-area: boks-c;
}

.boks-c{
    background: whitesmoke;
}

.boks-d {
    grid-area: boks-d;
    padding: 5%;
    text-align: left;
    background-color: var(--color-bg-light);
}


@media screen and (max-width: 1000px) {
    .gridcontainer {
        min-height: 100%;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 99%;
        grid-template-areas: 
        'header'
        'boks-b'
        'boks-c'
        'boks-d'        
        'footer';
        background-color: var(--color-bg);
        text-align: center;
    }

}
