.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 50% 49%;
    grid-template-areas: 
    'header header'
    'boks-b boks-b'
    'boks-c boks-d'
    'boks-e boks-f'
    'boks-g boks-h'
    'footer footer';
    background-color: var(--color-bg);
    text-align: center;
}

.boks-b {
    grid-area: boks-b;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.6)),url(/yogasenter/images/yoga-gb94f679e5_640.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;  
}

.boks-b a {
    font-size:50px;
    color:var(--color-links);
    border: var(--color-ascent) 5px solid;
    max-width: 300px;
    background-color: var(--color-ascent);
    letter-spacing: 0.2em;
    border-radius: 8px;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 50%;
 }

.boks-b a:hover {
    font-size:50px;
    color:var(--color-links);
    max-width: 300px;
    color:rgba(0, 0, 0, 0.792);
    background-color: rgba(255, 255, 255, 0.767);
}

.boks-b h1 {
    letter-spacing: 0.1em; 
    font-size:2.5rem;
    background-color: plum;
    padding:20px;
    position: relative;
    justify-self: left;
    margin-top: 0%;
}

.boks-e {
    grid-area: boks-e;
    position: relative;
    background-image:url(/yogasenter/images/62518207_2376016275967613_8768237496413716480_n.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.389) 3px solid;
}

.boks-f {
    grid-area: boks-f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    background-color: #E4E5F0;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.389) 3px solid;
    text-align: left;
}


.boks-g{
    grid-area: boks-g;
}
.boks-h{
    grid-area: boks-h;
}

.boks-e a {
    border: 5px double var(--color-ascent);
    letter-spacing: 0.2em; 
    font-size:2rem;
    background-color: var(--color-ascent);
    
}

.boks-f a {
    letter-spacing: 0.1em; 
    font-size:15px;
    margin-top: 5px;
    
}



