.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 50% 49%;
    grid-template-areas: 
    'header header'
    'boks-b boks-b'
    'banner banner'
    'boks-c boks-d'
    'boks-e-changingimage boks-f'
    'boks-g boks-h'
    'banner-2 banner-2'
    'boks-j boks-i'
    'footer footer';
    background-color: var(--color-bg);
    text-align: center;
}

.boks-b {
    grid-area: boks-b;
    min-height: 450px;
    display: table;
    position: relative;
    width: 100%;
}

.img-area {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 4;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,.8)),url(../images/Fotograf\ Siv\ Sivertsen\ 111.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.single-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)),url(../images/SmallLogoglow.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 35%;
    animation: animate ease-in-out 20s 0s;
    transform: translate3d(0,0,0);
    /*filter: blur(2px);*/
/*    filter: hue-rotate(0deg);*/
/*    -webkit-backface-visibility: hidden;*/
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    /*border: 1px solid #F00;*/
}

@keyframes animate {
    10% {
        transform: scale(1.1);
        /*filter:blur(2px);*/
    }
    15% {
        transform: scale(1);
        /*filter:blur(0);*/
    }
}

.boks-b h2 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 65%;
    left:0%;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.boks-b a {
    font-size:50px;
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 130px;
 }

.boks-b h1 {
    letter-spacing: 0.3em; 
    font-size:2.5rem;
    background-color:#195073;
    padding:20px;
    position: relative;
    justify-self: left;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: whitesmoke;
}

.banner {
    grid-area: banner;
    letter-spacing: 0.08em;
    background-color:  whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.banner h2,
.banner-2 h2 {
    font-size: 40px;
    color:#022601;
}

.banner-2 {
    grid-area: banner-2;
    letter-spacing: 0.08em;
    background-color:  whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.boks-e-changingimage {
    grid-area:boks-e-changingimage;
    position: relative;
    /*background-image:url(/images/-®\ Fotograf\ Siv\ Sivertsen\ 85.jpg);*/
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}
.boks-h {
    grid-area: boks-h;
    position: relative;
    background-image:url(../images/Fotograf\ Siv\ Sivertsen\ 102.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}

.boks-f, 
.boks-g,
.boks-i {
    grid-area: boks-f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    background-color: #f8fdff;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 2px;
    line-height: 25px;
    border: 2px solid var(--color-border);
}

.boks-f h2, 
.boks-g h2,
.boks-i h2{
line-height: 25 px;
font-size: 25px;
}
.boks-f a,
.boks-g a{
    background-color: var(--color-button);
    border: var(--color-ascent) solid 2px ;
    max-width: 100px;
    border-radius: 6px;
    letter-spacing: 1em;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 15px;
    margin-top: 20px;
    color: var(--color-links);
    font-weight: bold;
}



.boks-j {
    grid-area: boks-e;
    position: relative;
    background-image:url(../images/Fotograf\ Siv\ Sivertsen\ 88.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}

.boks-g {
    grid-area: boks-g;
}
.boks-h {
    grid-area: boks-h;
}

.boks-e a {
    border: 5px double var(--color-ascent);
    letter-spacing: 0.2em; 
    font-size:2rem;
    background-color: var(--color-ascent);
    
}



.boks-i {
    grid-area: boks-i;
}

.boks-j {
    grid-area:boks-j;
}


