.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 50% 49%;
    grid-template-areas: 
    'header header'
    'boks-b boks-b'
    'banner banner'
    'boks-c boks-d'
    'boks-e-changingimage boks-f'
    'boks-g boks-h'
    'banner-2 banner-2'
    'boks-j boks-i'
    'footer footer';
    background-color: var(--color-bg);
    text-align: center;
}

.boks-b {
    grid-area: boks-b;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.5)),url(/images/-®\ Fotograf\ Siv\ Sivertsen\ 111_redusert_speil_uten\ tekst\ kopi.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;  
}
.boks-b h2{
    background-color: rgb(43, 43, 64,0.4);
    text-align: center;
    width: 100%;
    position: relative;
    top: 60%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    min-height: 50px;
    padding-bottom: 10px;

    
}

.boks-b a {
    font-size:50px;
    color:var(--color-links);
    border: var(--color-ascent) 3px solid;
    max-width: 300px;
    background-color: var(--color-button);
    letter-spacing: 0.1em;
    border-radius: 6px;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 300px;
 }

.boks-b a:hover {
    font-size:50px;
    color:var(--color-links);
    max-width: 300px;
    color:rgba(0, 0, 0, 0.792);
    background-color: rgba(255, 255, 255, 0.767);
}

.boks-b h1 {
    letter-spacing: 0.3em; 
    font-size:2.5rem;
    background-color:#2B2B40;
    padding:20px;
    position: relative;
    justify-self: left;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: whitesmoke;
}

.banner{
    grid-area: banner;
    letter-spacing: 0.08em;
    background-color:  whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner h2,
.banner-2 h2 {
    font-size: 40px;
    color:black;
}

.banner-2 {
    grid-area: banner-2;
    letter-spacing: 0.08em;
    background-color:  whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.boks-e-changingimage {
    grid-area:boks-e-changingimage;
    position: relative;
    /*background-image:url(/images/-®\ Fotograf\ Siv\ Sivertsen\ 85.jpg);*/
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}
.boks-h {
    grid-area: boks-h;
    position: relative;
    background-image:url(/images/-®\ Fotograf\ Siv\ Sivertsen\ 102.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}

.boks-f, 
.boks-g,
.boks-i {
    grid-area: boks-f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    background-color: whitesmoke;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 2px;
    line-height: 25px;
    border: 2px solid var(--color-border);
    background-color: rgb(226, 231, 232);
}

.boks-f h2, 
.boks-g h2,
.boks-i h2{
line-height: 25 px;
font-size: 25px;
}
.boks-f a,
.boks-g a{
    background-color: var(--color-button);
    border: var(--color-ascent) solid 2px ;
    max-width: 100px;
    border-radius: 6px;
    letter-spacing: 1em;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-top: 20px;
    color: var(--color-links);
    font-weight: bold;
}



.boks-j {
    grid-area: boks-e;
    position: relative;
    background-image:url(/images/-®\ Fotograf\ Siv\ Sivertsen\ 88.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-border);
    transition: background 2.0s ease-in-out;
}

.boks-g {
    grid-area: boks-g;
}
.boks-h {
    grid-area: boks-h;
}

.boks-e a {
    border: 5px double var(--color-ascent);
    letter-spacing: 0.2em; 
    font-size:2rem;
    background-color: var(--color-ascent);
    
}

.boks-f a {
    letter-spacing: 0.1em; 
    font-size:15px;
    margin-top: 5px;
    
}

.boks-i {
    grid-area: boks-i;
}

.boks-j {
    grid-area:boks-j;
}


