.gridcontainer {
    min-height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 33% 33% 32%;
    grid-template-areas: 
    'header header header'
    'boks-b boks-b boks-b'
    'boks-c boks-d boks-e'
    'banner banner banner'
    'boks-h boks-h boks-h'
    'footer footer footer';
    background-color: var(--color-bg);
    text-align: center;
    background-color: whitesmoke;
}

.Title {
    background-color: var(--color-menu);

}
    .Title h2:hover {
    color:var(--color-ascent);
}

.bilde a {
    padding: 0px;
}

.bilde img {
    width: 100%;
}

.bilde {
    color: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}




.boks-b {
    grid-area: boks-b;
    display: flex;
    background: url(../images/3cups.jpg); /* fallback */
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/images/Fotograf\ Siv\ Sivertsen\ 85.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

.boks-h {
    grid-area: boks-b;
    display: flex;
    background: url(../images/3cups.jpg); /* fallback */
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(/images/patrick-malleret-p-v1DBkTrgo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

.boks-b h1 {
    letter-spacing: 0.1em; 
    font-size:4.5rem;
    padding:20px;
    position: absolute;
    margin-top: 0%;
    color: whitesmoke;
    justify-content: center;
    left: 15%;
    top: 30%;
}
.boks-b h2{
    background-color:rgb(173, 216, 230,0.4);
    max-height: 130px;
    text-align: left;
    width: 100%;
    position: relative;
    top: 77%;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    
}

.boks-c h2,
.boks-d h2,
.boks-e h2,
.boks-f h2,
.boks-g h2,
.boks-h h2{
    font-size: 25px;
    font-weight: bold;
    max-width: 100%;
}


.boks-d,
.boks-g{
    margin-right: 15px;
}
.boks-h h2{
    text-align: center;
    /*background-color: rgb(245, 245, 245,0.1);*/
    color: whitesmoke;
    position: absolute;
    max-width: 400px;
    text-align: center;
    margin-left: 10px;  
    margin-top: 10;
    bottom: 5%;
    left: 20%;
}



.boks-d .logo{
    margin-top: 100px;
    max-width: 300px;
    align-self: center;
    transform: translate(-9%,-40%);
    
}

.boks-c,
.boks-d,
.boks-e,
.boks-f,
.boks-g {
    display: flex;
    flex-direction: column;
    padding: 3px;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    letter-spacing: 2px;
    border: 2px solid var(--color-border);
    position: relative;
    color: black;
}

 .boks-f{
    background-color: #B3C8DF;
    color: black;
    margin-right:10px ;
 }
 .boks-c{
    background-color: hwb(0 12% 75%);
    margin-right: 20px;
    color:white;
 }
 .boks-e{
    background-color:  #475059;
    color:white;
 }

 .boks-g{
    background-color: #B3C8DF;
    color: black;
 }


.boks-c p,
.boks-d p,
.boks-e p,
.boks-f p,
.boks-g p,
.boks-h p{
    line-height: 25px;
}


.boks-h a{
    border:#401F1F 2px solid;
    color:#401F1F;
    width: 300px;
    border-radius: 20px;
    margin: 30px;
    height: 50px;
    text-align: center;
    justify-content: center;
    right: 20%;
    
}

.boks-c { grid-area: boks-c; }
.boks-d { grid-area: boks-d; }
.boks-e { grid-area: boks-e; }
.boks-f { grid-area: boks-f; }
.boks-g { grid-area: boks-g; }
.boks-h { grid-area: boks-h; }
.banner { grid-area: banner; }


@media screen and (max-width: 1000px) {
    .gridcontainer {
        min-height: 100%;
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 99%;
        grid-template-areas: 
        'header'
        'boks-b'
        'boks-c'
        'boks-d' 
        'boks-e'
        'banner'
        'boks-h'     
        'footer';
        background-color: var(--color-bg);
        text-align: center;
    }
    .boks-b {        
        min-height: 370px;  
        
}
 .boks-f,
 .boks-d,
 .boks-g
 .boks-c{
    margin-right:0px;
 }
 .banner h2{
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
}

@media screen and (max-width: 600px) {
    .boks-b {        
        min-height: 250px;        
    }
 .boks-f,
 .boks-d,
 .boks-g,
 .boks-c{
    margin-right:0px;
}
}